body {
    font-style: 24px;
}
p.green {
    color: rgb(248, 0, 0);
}
p.red {
    color: rgb(248, 0, 0);
}
p.blue {
    color: rgb(95, 0, 248);}
p.italic {
    font-weight: bold;
}
p.bold {
    font-weight: bold;
}
li.green {
    color: rgb(38, 189, 0);
}
li.red {
    color: rgb(255, 0, 0);
}
li.blue {
    color: rgb(95, 0, 248);}
    li.Yellow {
        color: rgb(233, 153, 61);}
span.xxsmall {
    font-size: 10px;
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}
span.xxlarge {
    font-size: 70px;
}
